* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: "DM Sans", sans-serif;
  border-radius: 0.5rem;
}


:root {
  --Purple-100: hsl(254, 88%, 90%);
  --Purple-500: hsl(256, 67%, 59%);
    
  --Yellow-100: hsl(31, 66%, 93%);
  --Yellow-500: hsl(39, 100%, 71%);
  
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 7%);
}


body {
  background-color: var(--White);
  min-height: 100vh;
  display: grid;
  max-width: 600px;
}


.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 1rem;
  gap: 2rem;
}


.header-card {
  background-color: var(--Purple-500);
  padding: 2rem;
  color: var(--White);
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  place-items: center;
}


.header-card h1 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
  max-width: 220px;
  margin-bottom: 0.7rem;
  text-align: center;
}


.header-card p {
  font-size: 1rem;
}


.gold-10x {
  color: var(--Yellow-500);
}


.italic {
  font-style: italic;
}


.footer-card {
  background-color: var(--White);
  padding: 1rem;
  box-shadow: -5px 8px 30px 3px var(--Yellow-100);
}


.footer-card h2 {
  margin-top: 0.8rem;
  letter-spacing: -0.1rem;
}


.footer-card h2,
.calendar-card h2 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
}


.calendar-card {
  background-color: var(--Yellow-500);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  letter-spacing: -0.1rem;
}



.post-schedule-card {
  background-color: var(--Purple-100);
  padding: 1rem;
}


.post-schedule-card h2 {
  font-size: 1.4rem;
  padding: 0.7rem;
}


.post-schedule-card p {
  font-weight: 500;
  padding: 1rem;
  text-align: center;
}


.followers-card {
  background-color: var(--Purple-500);
}


.followers-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
}


.followers-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.followers-card h2 {
  max-width: 220px;
  color: var(--White);
  font-size: 1.8rem;
}