* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: "DM Sans", sans-serif;
}


:root {
  --Purple-100: hsl(254, 88%, 90%);
  --Purple-500: hsl(256, 67%, 59%);
    
  --Yellow-100: hsl(31, 66%, 93%);
  --Yellow-500: hsl(39, 100%, 71%);
  
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 7%);
}


body {
  background-color: var(--White);
  min-height: 100vh;
  display: grid;
  max-width: 600px;
}


.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 1rem;
  gap: 0;
}


.header-card {
  background-color: var(--Purple-500);
  padding: 2rem;
  color: var(--White);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  place-items: center;
}


.header-card h1 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
  max-width: 220px;
  margin-bottom: 0.7rem;
  text-align: center;
}


.header-card p {
  font-size: 1rem;
}


.gold-10x {
  color: var(--Yellow-500);
}


.italic {
  font-style: italic;
}

