@font-face {
  font-family: "DM Sans";
  font-weight: 400 500;
  src: url("./assets/fonts/DMSans-VariableFont_opsz,wght.ttf");
}


@font-face {
  font-family: "DM Sans";
  font-weight: 400 500;
  font-style: italic;
  src: url("./assets/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf");
}


/* === RESET === */
*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
   -webkit-tap-highlight-color: transparent;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure {
  margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}


img {
  max-width: 100%;
  display: block;
}


:root {
  --Purple-100: hsl(254, 88%, 90%);
  --Purple-500: hsl(256, 67%, 59%);
    
  --Yellow-100: hsl(31, 66%, 93%);
  --Yellow-500: hsl(39, 100%, 71%);
  
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 7%);
}


body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--White);
  min-height: 100vh;
  max-width: 100%;
}


.bento-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
  padding: 1.25rem;
  gap: 2rem;
}



.bento-card > * {
  color: var(--Black);
  background-color: var(--Purple-500);
  padding: 2.25rem;
  overflow: clip;
  border-radius: 0.5rem;
}


.header-card {
  padding: 2rem;
  color: var(--White);
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  place-items: center;
}


.header-card h1 {
  font-size: 2.5rem;
  line-height: 1;
  max-width: 13.75rem;
  margin-bottom: 0.7rem;
  text-align: center;
}


.header-card p {
  font-size: 1rem;
  text-align: center;
}


.gold-10x {
  color: var(--Yellow-500);
}


.header-card img {
  width: 70%;
}


.footer-card {
  background-color: var(--White);
  padding: 1rem;
  box-shadow: -0.3125rem 0.5rem 1.875rem 0.1875rem var(--Yellow-100);
}


.footer-card h2 {
  margin-top: 0.8rem;
  letter-spacing: -0.1rem;
}


.footer-card h2,
.calendar-card h2 {
  font-size: 1.5rem;
  line-height: 1;
}


.calendar-card {
  background-color: var(--Yellow-500);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  letter-spacing: -0.1rem;
}


.calendar-card img {
  width: 70%;
  margin-bottom: -28px;
}


.post-schedule-card {
  background-color: var(--Purple-100);
  padding: 1rem;
}


.post-schedule-card h2 {
  font-size: 1.5rem;
  padding: 0.8rem;
}


.post-schedule-card p {
  font-weight: 500;
  padding: 1rem;
  text-align: center;
}


.followers-card {
  background-color: var(--Purple-500);
}


.followers-card img {
  width: 100%;
}


.followers-card h2 {
  color: var(--White);
  text-align: center;
  line-height: 1;
  margin-top: 2rem;
  font-size: 1.9375rem;
  letter-spacing: -0.1rem;
}


.growth-card {
  background-color: var(--White);
  padding: 1.5rem;
  color: var(--Black);
  box-shadow: -0.3125rem 0.5rem 1.875rem 0.1875rem var(--Yellow-100);
}


.growth-card h2 {
  font-size: 3rem;
  line-height: 1.4;
}


.growth-card p {
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 1.1rem;
}


.growth-card img {
  width: 70%;
}


.create-post-card {
  background-color: var(--Yellow-100);
  padding: 1.7rem;
  font-size: 1.2rem;
  color: var(--Black);
  line-height: 0.8;
}


.create-post-card h2 {
  margin-bottom: 1.2rem;
}


.create-post-card span {
  color: var(--Purple-500);
}


.create-post-card img {
  width: 70%;
}


.ai-content-card {
  background-color: var(--Yellow-500);
  padding: 1.2rem;
}


.ai-content-card img {
  width: 70%;
}


.ai-content-card h2{
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: -0.1rem;
  line-height: 1;
  max-width: 13.75rem;
  margin-bottom: 1.2rem;
}


@media (min-width: 56em) {
body {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
}


.bento-card {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 0.5fr 0.5fr;
  grid-template-areas:
    "header header"
    "footer calendar"
    "post follower"
    "growth create"
    "ai ai";
}


.header-card {
  grid-area: header;
}


.header-card h1 {
  font-size: 3rem;
  max-width: none;
}


.header-card img {
  width: 50%;
}


.header-card p {
  font-size: 2rem;
}


.footer-card {
  grid-area: footer;
  padding: 2rem;
}


.footer-card h2,
.calendar-card h2,
.post-schedule-card h2,
.followers-card h2 {
  font-size: 2rem;
}

.calendar-card {
  grid-area: calendar;
  padding: 2rem;
}


.post-schedule-card {
  grid-area: post;
  padding: 2rem;
}


.post-schedule-card p,
.growth-card p {
  font-size: 1.3rem;
}

.followers-card {
  grid-area: follower;
}


.growth-card {
  grid-area: growth;
}


.create-post-card {
  grid-area: create;
}


.ai-content-card {
  grid-area: ai;
}
/* .card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 12.5rem 12.5rem 12.5rem 12.5rem;
  padding: 1rem;
  gap: 2rem;
  grid-template-areas:
    "create header header post"
    "create footer calendar post"
    "ai footer calendar post"
    "ai growth follower follower";
}


.header-card {
  grid-area: header;
  max-height: 21.875rem;
}

.header-card h1 {
  
}
.footer-card {
  grid-area: footer;
  align-self: start;
} */

/* .header-card {
  background-color: var(--Purple-500);
  padding: 2rem;
  color: var(--White);
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  place-items: center;
} */








/*.header-card h1 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
  max-width: 13.75rem;
  margin-bottom: 0.7rem;
  text-align: center;
}


.header-card p {
  font-size: 1rem;
}


.gold-10x {
  color: var(--Yellow-500);
}


.italic {
  font-style: italic;
}


.footer-card {
  background-color: var(--White);
  padding: 1rem;
  box-shadow: -0.3125rem 0.5rem 1.875rem 0.1875rem var(--Yellow-100);
}


.footer-card h2 {
  margin-top: 0.8rem;
  letter-spacing: -0.1rem;
}


.footer-card h2,
.calendar-card h2 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
}


.calendar-card {
  background-color: var(--Yellow-500);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  letter-spacing: -0.1rem;
}


.post-schedule-card {
  background-color: var(--Purple-100);
  padding: 1rem;
}


.post-schedule-card h2 {
  font-size: 1.4rem;
  padding: 0.8rem;
  font-weight: 500;
}


.post-schedule-card p {
  font-weight: 500;
  padding: 1rem;
  text-align: center;
}


.followers-card {
  background-color: var(--Purple-500);
}


.followers-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
}


.followers-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.followers-card h2 {
  max-width: 13.75rem;
  color: var(--White);
  font-weight: 500;
  font-size: 1.8rem;
  text-align: center;
  line-height: 0.8;
  padding-bottom: 1.2rem;
  letter-spacing: -0.1rem;
}


.growth-card {
  background-color: var(--White);
  padding: 1.5rem;
  color: var(--Black);
  box-shadow: -0.3125rem 0.5rem 1.875rem 0.1875rem var(--Yellow-100);
}


.growth-card h2 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.4;
}


.growth-card p {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 1.1rem;
}


.create-post-card {
  background-color: var(--Yellow-100);
  padding: 1.7rem;
  font-size: 1.2rem;
  color: var(--Black);
  line-height: 0.8;
}


.create-post-card h2 {
  margin-bottom: 1.2rem;
  font-weight: 500;
}


.create-post-card span {
  font-style: italic;
  color: var(--Purple-500);
}


.ai-content-card {
  background-color: var(--Yellow-500);
  padding: 1.2rem;
}


.ai-content-card h2{
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: -0.1rem;
  line-height: 1;
  max-width: 13.75rem;
  margin-bottom: 1.2rem;
}


@media (min-width: 75em) {
body {
  max-width: 1200px;
  display: grid;
  place-items: center;
  padding: 0 1.5rem;
}


.card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 12.5rem 12.5rem 12.5rem 12.5rem;
  padding: 1rem;
  gap: 2rem;
  grid-template-areas:
    "create header header post"
    "create footer calendar post"
    "ai footer calendar post"
    "ai growth follower follower";
}


.header-card {
  grid-area: header;
  max-height: 21.875rem;
}

.header-card h1 {
  
}
.footer-card {
  grid-area: footer;
  align-self: start;
}


.calendar-card {
  grid-area: calendar;
}


.post-schedule-card {
  grid-area: post;
}


.followers-card {
  grid-area: follower;
}


.growth-card {
  grid-area: growth;
}


.create-post-card {
  grid-area: create;
  padding: 2.5rem 1.5rem;
}


.create-post-card h2 {
  font-size: 2.5rem;
  margin-top: 1.5rem;
}

.create-img {
  width: 90%;
  margin-top: 3%;
}

.ai-content-card {
  grid-area: ai;
  padding: 1.3rem 1.5rem;
}

.ai-content-card h2 {
  font-size: 2.5rem;
}


.ai-img {
  width: 100%;
  margin-top: 15%;
}




}
 */